@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/jquery.fancybox.css";
@import "../css/owl.carousel.css";
@import "../css/jquery.arcticmodal.css";
@import "../css/jquery-ui.css";
@import "../css/formstyler.css";
@import "../css/responsive-tabs.css";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic-ext);
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);*/
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'robotoregular', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color:#232440;
  min-width:1080px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr.hr{
  border: none;
  height: 1px;
  background: #d6dae4;
  width: 100%;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}
button{
  font-family: 'robotoregular', Helvetica, sans-serif;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

/*======================>  GOOGLE FONTS START  <======================*/
        
  .fw_thn{font-weight: 100;}
  .fw_lt{font-weight: 300;}
  .fw_reg{font-weight: 400;}
  .fw_med{font-weight: 500;}
  .fw_ultra_bd{font-weight: 900;}
  .bold{font-weight: 700;}

  .roboto{
    font-family: 'Roboto';
  }
  .roboto_slab{
    font-family: 'Roboto Slab', serif;
  }



  /* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 28, 2016 */



  @font-face {
      font-family: 'robotobold_condensed';
      src: url('../font/roboto-boldcondensed-webfont.eot');
      src: url('../font/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-boldcondensed-webfont.woff2') format('woff2'),
           url('../font/roboto-boldcondensed-webfont.woff') format('woff'),
           url('../font/roboto-boldcondensed-webfont.ttf') format('truetype'),
           url('../font/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotobold_condensed_italic';
      src: url('../font/roboto-boldcondenseditalic-webfont.eot');
      src: url('../font/roboto-boldcondenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-boldcondenseditalic-webfont.woff2') format('woff2'),
           url('../font/roboto-boldcondenseditalic-webfont.woff') format('woff'),
           url('../font/roboto-boldcondenseditalic-webfont.ttf') format('truetype'),
           url('../font/roboto-boldcondenseditalic-webfont.svg#robotobold_condensed_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotobold_italic';
      src: url('../font/roboto-bolditalic-webfont.eot');
      src: url('../font/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-bolditalic-webfont.woff2') format('woff2'),
           url('../font/roboto-bolditalic-webfont.woff') format('woff'),
           url('../font/roboto-bolditalic-webfont.ttf') format('truetype'),
           url('../font/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotocondensed';
      src: url('../font/roboto-condensed-webfont.eot');
      src: url('../font/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-condensed-webfont.woff2') format('woff2'),
           url('../font/roboto-condensed-webfont.woff') format('woff'),
           url('../font/roboto-condensed-webfont.ttf') format('truetype'),
           url('../font/roboto-condensed-webfont.svg#robotocondensed') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'roboto_condensedbold';
      src: url('../font/robotocondensed-bold-webfont.eot');
      src: url('../font/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-bold-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-bold-webfont.woff') format('woff'),
           url('../font/robotocondensed-bold-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'roboto_condensedbold_italic';
      src: url('../font/robotocondensed-bolditalic-webfont.eot');
      src: url('../font/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-bolditalic-webfont.woff') format('woff'),
           url('../font/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'roboto_condenseditalic';
      src: url('../font/robotocondensed-italic-webfont.eot');
      src: url('../font/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-italic-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-italic-webfont.woff') format('woff'),
           url('../font/robotocondensed-italic-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotoblack';
      src: url('../font/roboto-black-webfont.eot');
      src: url('../font/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-black-webfont.woff2') format('woff2'),
           url('../font/roboto-black-webfont.woff') format('woff'),
           url('../font/roboto-black-webfont.ttf') format('truetype'),
           url('../font/roboto-black-webfont.svg#robotoblack') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotoblack_italic';
      src: url('../font/roboto-blackitalic-webfont.eot');
      src: url('../font/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-blackitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-blackitalic-webfont.woff') format('woff'),
           url('../font/roboto-blackitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotobold';
      src: url('../font/roboto-bold-webfont.eot');
      src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-bold-webfont.woff2') format('woff2'),
           url('../font/roboto-bold-webfont.woff') format('woff'),
           url('../font/roboto-bold-webfont.ttf') format('truetype'),
           url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'robotocondensed_italic';
      src: url('../font/roboto-condenseditalic-webfont.eot');
      src: url('../font/roboto-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-condenseditalic-webfont.woff2') format('woff2'),
           url('../font/roboto-condenseditalic-webfont.woff') format('woff'),
           url('../font/roboto-condenseditalic-webfont.ttf') format('truetype'),
           url('../font/roboto-condenseditalic-webfont.svg#robotocondensed_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'roboto_condensedlight';
      src: url('../font/robotocondensed-light-webfont.eot');
      src: url('../font/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-light-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-light-webfont.woff') format('woff'),
           url('../font/robotocondensed-light-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'roboto_condensedlight_italic';
      src: url('../font/robotocondensed-lightitalic-webfont.eot');
      src: url('../font/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-lightitalic-webfont.woff') format('woff'),
           url('../font/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'roboto_condensedregular';
      src: url('../font/robotocondensed-regular-webfont.eot');
      src: url('../font/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/robotocondensed-regular-webfont.woff2') format('woff2'),
           url('../font/robotocondensed-regular-webfont.woff') format('woff'),
           url('../font/robotocondensed-regular-webfont.ttf') format('truetype'),
           url('../font/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotoitalic';
      src: url('../font/roboto-italic-webfont.eot');
      src: url('../font/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-italic-webfont.woff2') format('woff2'),
           url('../font/roboto-italic-webfont.woff') format('woff'),
           url('../font/roboto-italic-webfont.ttf') format('truetype'),
           url('../font/roboto-italic-webfont.svg#robotoitalic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotolight';
      src: url('../font/roboto-light-webfont.eot');
      src: url('../font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-light-webfont.woff2') format('woff2'),
           url('../font/roboto-light-webfont.woff') format('woff'),
           url('../font/roboto-light-webfont.ttf') format('truetype'),
           url('../font/roboto-light-webfont.svg#robotolight') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotolight_italic';
      src: url('../font/roboto-lightitalic-webfont.eot');
      src: url('../font/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-lightitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-lightitalic-webfont.woff') format('woff'),
           url('../font/roboto-lightitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotomedium';
      src: url('../font/roboto-medium-webfont.eot');
      src: url('../font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-medium-webfont.woff2') format('woff2'),
           url('../font/roboto-medium-webfont.woff') format('woff'),
           url('../font/roboto-medium-webfont.ttf') format('truetype'),
           url('../font/roboto-medium-webfont.svg#robotomedium') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotomedium_italic';
      src: url('../font/roboto-mediumitalic-webfont.eot');
      src: url('../font/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-mediumitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-mediumitalic-webfont.woff') format('woff'),
           url('../font/roboto-mediumitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotoregular';
      src: url('../font/roboto-regular-webfont.eot');
      src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-regular-webfont.woff2') format('woff2'),
           url('../font/roboto-regular-webfont.woff') format('woff'),
           url('../font/roboto-regular-webfont.ttf') format('truetype'),
           url('../font/roboto-regular-webfont.svg#robotoregular') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'robotothin';
      src: url('../font/roboto-thin-webfont.eot');
      src: url('../font/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-thin-webfont.woff2') format('woff2'),
           url('../font/roboto-thin-webfont.woff') format('woff'),
           url('../font/roboto-thin-webfont.ttf') format('truetype'),
           url('../font/roboto-thin-webfont.svg#robotothin') format('svg');
      font-weight: normal;
      font-style: normal;

  }




  @font-face {
      font-family: 'robotothin_italic';
      src: url('../font/roboto-thinitalic-webfont.eot');
      src: url('../font/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/roboto-thinitalic-webfont.woff2') format('woff2'),
           url('../font/roboto-thinitalic-webfont.woff') format('woff'),
           url('../font/roboto-thinitalic-webfont.ttf') format('truetype'),
           url('../font/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
      font-weight: normal;
      font-style: normal;

  }

  .roboto_light{
    font-family: 'robotolight';
  }
  .roboto_bold{
    font-family: 'robotobold';
  }
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after, 
.container:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*---------Global overlay----------*/

.nav_overlay{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
}

/*----------------------> DATA BG <------------------*/
  [data-bg="bg_header"]{
    background: url(../images/header_img_bg.png) 50% 0 no-repeat;
  }

  [data-bg="bg_header2"]{
    background: url(../images/header_img_bg2.png) 50% 0 no-repeat;
  }

  [data-bg="bg_header_horeca"]{
    background: url(../images/horeca_bg_img.png) 50% 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  [data-bg="bg_certificates"]{
    background: #FFF url(../images/certificates_bg.png) 50% 0% no-repeat;
  }

  [data-bg="bg_partners"]{
    background: #FFF url(../images/partners_bg.png) 50% 60px no-repeat;
  }

  .blue_style [data-bg="bg_partners"]{
    background: #FFF url(../images/partners_bg.png) 50% 0px no-repeat;
  }

  [data-bg="work_bg"]{
    background: #FFF url(../images/work_bg_img.png) 50% 0% no-repeat;
  }

  [data-bg="objects_jobs_bg"]{
    background: #FFF url(../images/objects_jobs_bg.png) 50% 0% no-repeat;
  }

  [data-bg="blue_img"]{
    background: #FFF url(../images/blue_img_bg.png) 50% 0% no-repeat;
  }

  .prise_container_item[data-bg="orange_bg"]{
    background: url(../images/orange_bg.png) 0% 0% no-repeat;
  }

  .prise_container_item[data-bg="blue_bg"]{
    background: url(../images/blue_bg.png) 0% 0% no-repeat;
  }

  input{
    color: #9a9da6;
  }

/*======================> Breadcrumbs <======================*/

  .breadcrumbs{
    margin: 0 -9px;
  }

    .breadcrumbs_item{
      float: left;
      color: #484c50;
      font-size: 14px;
      margin-right: 4px;
      position: relative;
      padding-left: 9px;
    }

      .breadcrumbs_item:before{
        content: "/";
        position: absolute;
        left: 0;
      }
      .breadcrumbs_item:first-child:before{
        display: none;
      }

      .breadcrumbs_link{
        color: #23c3df;
        text-decoration: underline;
      }

      .breadcrumbs_link:hover{
        text-decoration: none;
      }


/*======================> Header <======================*/



  /*-----  START  blue style  -----*/
    /*   HEADER   */
      .blue_style .text_link,
      .blue_style .download_link,
      .blue_style .header_content_form2 .title2,
      .blue_style .range_slider_wrapper #amount1, 
      .blue_style .range_slider_wrapper #amount2, 
      .blue_style .range_slider_wrapper #amount3{
        color: #1E8FEB;
      }
      .blue_style .download_link{
        background: url(../images/icon/xlx_icon2.png) 0% 39% no-repeat;
      }
      .blue_style .logo a{
        background: url(../images/logo2.png) 0% 0% no-repeat;
      }
      .blue_style .header_contact_link{
        color: #1E8FEB;
        border: 1px solid #1E8FEB;
      }
        .blue_style .header_contact_link:hover{
          background-color: #1E8FEB;
        }

      .blue_style .computation_list li{
        background: url(../images/icon/plus_icon2.png) 0% 10px no-repeat;
      }
      .blue_style .form_popup_btn,
      .blue_style .header_content_btn,
      .blue_style .header_content_phone + .header_content_btn{
        border-color: #1E8FEB !important;
        background-color: #1E8FEB !important;
      }
        .blue_style .form_popup_btn:hover,
        .blue_style .header_content_btn:hover{
          color: #1E8FEB !important;
          background-color: #fff !important;
        }

      .blue_style .footer_contact_info{
        background: url(../images/footer_item_bg2.png) 0 0 no-repeat;
      }
    /*   CONTENT   */
      .blue_style .big_numb{
        background: url(../images/min_blue_bg.png) 50% 0% no-repeat;
      }
      .blue_style .partners_list{width: 879px; margin: 0 auto 45px;}
        .blue_style .partners_list_item{
          margin: 25px 64px;
        }

      .blue_style .planchette_block{
        background: url(../images/planchette_bg2.png) 50% 50% no-repeat;
      }

      .blue_style .pound:after{
        background: url(../images/icon/pound_icon2.png) 0% 0% no-repeat;
      }

      .blue_style .owl-item.synced .slider_item_figure{
        opacity: 1;
        background: url(../images/slider_blue_bg.png) 35px 0% no-repeat;
      }
        .blue_style .slider_box .owl-item.synced .slider_item_figure .img_box{
          border: 3px solid #1E8FEB;
        }

        .blue_style .header_heat_form .title2{
          color: #1E8FEB !important;
        }
      .blue_style .accordion_item{
        border-color: #abe8f3;
      }
        .blue_style .accordion_item_link:after,
        .blue_style .range_slider_wrapper .slider-range .ui-slider-handle,
        .blue_style .jq-radio.checked .jq-radio__div,
        .blue_style .jq-selectbox li.selected{
          background-color: #1E8FEB;
        }
        .blue_style .jq-selectbox li.selected{color: #FFF;}
        .blue_style .jq-selectbox__dropdown{margin: 0; -webkit-border-radius: 0;
                border-radius: 0;}

        .blue_btn{
          width: 185px;
          padding: 9px;
          color: #fff;
          display: block;
          margin-top: 5px;
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          text-decoration: none;
          border: 1px solid #1E8FEB;
          background-color: #1E8FEB;
          text-transform: capitalize;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
          font-family: 'robotolight';
        }
        .blue_btn:hover{
          color: #1E8FEB;
          background-color: #fff;
        }

    .blue_style .header_top{
      padding: 82px 0 0;
    }
    .blue_style .header_content .title2{
      background: none;
    }

  /*-----  END  blue style  -----*/

  header {
  }
    .header_top{
      padding: 82px 0 11px;
      /*position: relative;*/
    }
    .header_top .container{
      position: relative;
    }
    
    .absolute_box{
      top: 0px;
      width: 1140px;
      margin-left: 15px;
      padding: 4px 0 0px;
      z-index: 9;
      position: fixed;
      background-color: #fff;
      box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
    }
      .text_link{
        color: #fb6b00;
        font-size: 24px;
        font-weight: 300;
        text-decoration: underline;
        padding-left: 263px;
      }  
      .download_link{
        float: right;
        color: #fb6b00;
        font-size: 12px;
        line-height: 2;
        margin-right: 18px;
        text-decoration: underline;
        padding: 11px 5px 7px 30px;
        background: url(../images/icon/xlx_icon.png) 0% 39% no-repeat;
      }  

    .logo{}
      .logo a{
        display:block;
        width:185px;
        height:40px;
        background:url(../images/logo.png) 0 0 no-repeat;
        text-decoration:none;
        text-indent:-9999px;
      }

    .logo_text{
      width: 290px;
      font-size: 12px;
      color: #4b4b5a;
      line-height: 16px;
      margin: 2px 0 0 14px;
    } 

    .header_top_list{
      float: right;
      margin: 0 -10px;
    } 

      .header_top_list_item{
        float: left;
        margin: 7px 10px;
      }

      .header_top_list_link{
        font-size: 14px;
        color: #424353;
      }
        .header_top_list_link:hover{
          color: #01bada;
        }
    
    .header_bottom_wrapp{
      position: relative;
      z-index: 9991;
      background: #fff;
      box-shadow: 1px 1px 3px #cccdce, -1px -1px 3px #cccdce;
      height: 48px;
    }

    /*header .title + .title2{
      background-color: rgba(255, 255, 255, 0.7);
      margin: 0 150px;
      box-shadow: -7px 1px 13px rgba(255, 255, 255, 0.9), 7px -1px 10px rgba(255, 255, 255, 0.9);
      border-radius: 10px;
    }*/

      
            .price{
              font-family: 'Roboto Slab', serif;
              font-size: 16px;
              font-weight: bold;
            }

        .search_box{
          width: 501px;
          border-right: 1px solid #dfdfdf;
        }

        .search{
          width: 469px;
          height: 48px;
          font-size: 18px;
          font-weight: 300;
          border: none;
          padding: 0 15px 0 29px;
        }

        .search_btn{
          background: url(../images/search_icon.png) 0 50% no-repeat;
          width: 24px;
          height: 48px;
          border: none;
          outline: none;
          padding: 0; 
          cursor: pointer;
        }
      
      .header_contact{
        padding: 13px 0; 
      }
        .header_contact_phone{
          font-size: 30px;
          margin: 2px 11px 10px;
          font-family: 'robotolight';
           
        }

        .header_contact_phone span{
          font-family: 'robotobold';
        }

        .header_contact_link{
          font-family: 'robotolight';
          color: #fb6b00;
          line-height: 1;
          font-size: 18px;
          font-weight: 300;
          padding: 11px 20px;
          margin-bottom: 10px;
          border: 1px solid #fb6b00;
          text-decoration: none;
        } 
        .header_contact_link:hover{
          color: #fff;
          background-color: #fb6b00;
        }
        .header_contact_link + span{
          font-size: 12px;
          color: #363638;
        }

    .header_content{
      
    }
    .header_content_form{
      width: 587px;
      font-size: 14px;
      margin: 0 auto;
      box-shadow: 1px 1px 80px #a5a5a7;
    }

      .header_content_form.b_sh{
        box-shadow: none;
      } 

      .header_content_form.b_sh .header_content_btn{
        box-shadow: 1px 1px 80px #a5a5a7;
      }

      .header_content .title{
        padding: 26px 40px;
        margin: 0 -10px 5px;
      }  
      .header_content .title2{
        background: url(../images/white_light_bg.png) 50% 50% no-repeat;
        padding: 18px 5px;
        margin-top: -18px;
      }

      .header_content_name,
      .header_content_phone,
      .header_content_mail{
        width: 195px;
        height: 44px;
        margin: 0;
        border: none;
        padding: 0 10px 0 38px;
        border-right: 1px solid #d1d1d2;
      }
        .header_content_form input:last-child{
          border-right: none;
        }
        .header_content_name{
          background: #fff url(../images/human_icon.png) 8px 50% no-repeat;
        }
        .header_content_phone{
          background: #fff url(../images/phone_icon.png) 6px 50% no-repeat;
        }
        .header_content_mail{
          background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
        }

         .header_center_btn{
            width: 360px;
            height: 44px;
            line-height: 44;
            padding: 0 5px;
            text-align: center;
            
          }

      .header_content_btn{
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        z-index: 999;
        width: 360px;
        margin: auto;
        outline: none;
        padding: 10px;
        display: block;
        cursor: pointer;
        background-color: #fb6b00;
        border: 1px solid #fb6b00;
        font-family: 'robotolight';
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        
        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
      }
        .header_content_btn:hover,
        .header_content_phone + .header_content_btn:hover{
          color: #fb6b00;
          background: #fff;
          -webkit-transition: all 0.1s ease;
          -moz-transition: all 0.1s ease;
          -o-transition: all 0.1s ease;
          transition: all 0.1s ease;
        }  
        
    .header_content_form2{
      width: 750px;
      margin: 0 auto;
      padding: 28px 66px 17px;
      box-shadow: 0 0 66px rgba(0, 0, 0, 0.66);
      background: url(../images/bg_pattern.png) 0% 0% no-repeat;
      -webkit-border-radius: 4px;
              border-radius: 4px;
    }
    .header_content_form3{
      width: 360px;
      margin: 0 auto;
      box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
    }
      .header_content_form3 input{
        width: 180px;
      }
      .header_content_form3 input:last-child{
        border-right: none;
      }

    .computation_block{}
      .computation_block div:first-child{
        width: 63%;
        margin-right: 5px;
      }
      .computation_block div:last-child{
        width: 36%;
      }
        .computation_block div:last-child input,
        .popup_figure form input{
          width: 100%;
          border-right: none;
          margin-bottom: 12px;
          box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
        }
        .computation_block .title3{
          margin-top: -10px;
          letter-spacing: 1.8px;
        }

        .computation_list li{
          font-family: 'robotolight';
          font-size: 14px;
          line-height: 2.15;
          padding-left: 15px;
          font-weight: 300;
          background: url(../images/icon/plus_icon.png) 0% 10px no-repeat;
        }
    
    .ventilation_block{
      position: relative;
    }
      .ventilation_block:before{
        content: "";
        position: absolute;
        background: url(../images/ventilation_strip.png) 0 0 repeat-x;
        width: calc(50% - 190px);
        height: 14px;
        bottom: 46px;
        left: 0;
        z-index: 1;
      }

      .ventilation_block_figure{
        z-index: 99;
        position: relative;
        margin-top: 6px;
      }  
        .ventilation_block_figure_text{
          border: 1px solid #01bada;
          position: absolute;
          bottom: 31px;
          left: 43px;
          z-index: 99;
          background: #fff;
        }
        .ventilation_block_figure_text a{
          position: relative;
          color: #01bada;
          display: inline-block;
          padding: 13px 20px 11px;  
          z-index: 99999;
        }
          .ventilation_block_figure_text .hover_bg{
            position: absolute;
            background: #01bada;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            display: inline-block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
            .ventilation_block_figure_text:hover .hover_bg{
              width: 100%;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
            .ventilation_block_figure_text:hover a{
              color: #fff;
            }
        .ventilation_block_figure_img{
          margin-right: 20px;
        }

      .ventilation_block:after{
        content: "";
        position: absolute;
        background: url(../images/heating_strip.png) 0 0 repeat-x;
        width: calc(50% - 190px);
        height: 14px;
        bottom: 46px;
        right: 0;
        z-index: 1;
      }

      .heating_block_figure{
        z-index: 99;
        position: relative;
      }  
        .heating_block_figure_text{
          border: 1px solid #ee302e;
          position: absolute;
          bottom: 16px;
          right: 43px;
          z-index: 99;
          background: #fff;
        }
          .heating_block_figure_text a{
            position: relative;
            z-index: 99999;
            color: #ee302e;
            padding: 13px 20px 11px; 
            display: inline-block;
          }
          .heating_block_figure_text .hover_bg{
            position: absolute;
            background: #ee302e;
            top: 0;
            right: 0;
            height: 100%;
            width: 0%;
            display: inline-block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
            .heating_block_figure_text:hover .hover_bg{
              width: 100%;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
          .heating_block_figure_text:hover a{
            color: #fff;
          }
        .heating_block_figure_img{
          margin-right: 20px;
        }    

/*=====================> Header heat start ========================*/
  
  /*.header_heat{
    display: table;
    width: 100%;
  }*/
    .header_heat_form{
      width: 310px;
      float: right;
      /*padding: 0 110px 0 44px;*/
      vertical-align: middle;
    }
      .header_heat_form .header_content_phone,
      .header_heat_form .form_popup_name{
        font-size: 14px;
        font-weight: 300;
        width: 260px;
        height: 38px;
        padding-left: 42px;
        border: none;
        box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
      }
      .header_heat_form .form_popup_btn{
        width: 260px ;
      }
      .header_heat_form .title2{
        color: #FB6B00 !important;
      }

    .header_heat_main_img{
      max-width: 750px;
      height: auto;
      text-align: right;
      vertical-align: middle;
    }  


/*=====================> Header heat end ========================*/


/*=====================> Content ========================*/
  #content {padding:0px 0px 0px 0px;}

  .number_of_us{
    margin-top: -43px;
  }

  .numbers_about{
    padding: 0 20px;
  }
    [class^="number_about_box"]{
      width: 390px;
      text-align: center;
    }
    .number_about_box1{
      background: #FFF url(../images/numbers_bg1.png) 50% 50% no-repeat;
    }
      .big_numb{
        color: #FFF;
        width: 210px;
        font-size: 57px;
        font-weight: 500;
        line-height: 58px;
        text-align: center;
        padding: 25px 15px 41px 45px;
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        background: url(../images/min_orange_bg.png) 50% 0% no-repeat;
      }
      .numb_info{
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-weight: 300;
        width: 100%; 
        margin-top: 5px;
      }

      .percent{
        position: relative;
      }
      .percent:after{
        content: "%";
        position: absolute;
        right: 37px;
        top: 14px;
        color: #FFF;
        font-size: 33px;
      }
    .number_wrapp{
      
    }
      .number_wrapp{

      }
        [class^="number_td"]{
          padding: 20px 0;
        }
        .number_two_td{width: 380px;}

  .certificates{
    padding: 65px 0 ;
  }    
    
    .crtificates_list{
      margin: 0 -23px;
      text-align: center;
    }
      .crtificates_list_item{
        width: 91px;
        height: 122px;
        display: inline-block;
        position: relative;
        margin: 0 23px;  
        box-shadow: 4px 4px 8px #949596;   
      }
        .crtificates_list_item img{
          width: 100%;
          height: 100%;
        }
        .crtificates_list_item:before{
          content: "";
          position: absolute;
          background: url(../images/clips_img.png) 0 0 no-repeat;
          width: 67px;
          height: 53px;
          top: -53px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
        }

    .certificates_title{
      font-size: 16px;
      color: #fb6b00;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: 'Roboto Slab', serif;
    }    

  .questions{
    position: relative;
    min-height: 200px;
  }  
    .questions:before{
      content: "";
      position: absolute;
      background: url(../images/ventilation_strip.png) 0 0 repeat-x;
      width: calc(50% - 488px);
      height: 14px;
      left: 0;
      z-index: 99;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .questions:after{
      content: "";
      position: absolute;
      background: url(../images/heating_strip.png) 0 0 repeat-x;
      width: calc(50% - 487px);
      height: 14px;
      right: 0;
      z-index: 99;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }  

    .questions_border{
      position: relative;
      width: 975px;
      margin: 0 auto;
      min-height: 200px;
      border-left: 1px solid #0095ff;
      border-right: 1px solid rgba(233,47,60,1);
    }
      .questions_border:before,
      .questions_border:after{
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        background: rgb(0,151,255); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(0,149,255,1) 0%, rgba(0,149,255,1) 33%, rgba(233,47,60,1) 67%, rgba(233,47,60,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,149,255,1) 0%,rgba(0,149,255,1) 33%,rgba(233,47,60,1) 67%,rgba(233,47,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,149,255,1) 0%,rgba(0,149,255,1) 33%,rgba(233,47,60,1) 67%,rgba(233,47,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097ff', endColorstr='#e92f3c',GradientType=1 ); /* IE6-9 */
      }
      .questions_border:before{top: 0;}
      .questions_border:after{bottom: 0;}

      .questions_wrapp{
        z-index: 999;
        position: absolute;
        top:50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .question_content{
        padding: 30px 20px 25px;
        
      }

.work_vraper{
  margin-left:-45px ;
  margin-right: -45px;
}

.work{
  width: 300px;
  height: 500px;
  margin-left: 45px;
  margin-right: 45px;
  float: left;
  font-size: 14px;
  position: relative;

}
.work .pd{
  height: 295px;
}
.work .title2{
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.work .title2.pound::after{
    content: "";
    position: relative;
    top: 2px;
    left: 4px;
    right: auto;
    display: inline-block;
    width: 14px;
    height: 20px;
    background: url(../images/icon/pound_icon2.png) 0% 0% no-repeat; 
}

.work_link{
  width: 100%;
  text-align: center;
  padding: 10px 112px;
  border: 1px solid #1e8fea;
  display: block;
  font-size: 18px;
  font-family: 'robotolight';
  color: #3c9eee; 
}
.work_link2{
  width: 100%;
  text-align: center;
  padding: 10px 112px;
  border: 1px solid #fb6b00;
  display: block;
  font-size: 18px;
  font-family: 'robotolight';
  color: #fb6b00;
}
.work_link2:hover{
  background-color: #FB6B00;
  color: #FFF;
}

.work_text{
  font-size: 14px;
  font-family: 'robotolight';
  color: #232440;
  margin-bottom: 20px;
  position: relative;
 
}

ul .work_text:before{
  content: "";
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #232440;
  position: absolute;
  left: 0px;
  top: 10px;
}

ul .work_text{
   text-indent: 20px;
}

.img_text{
  position: absolute;
  color: #FFF;
  text-align: center;
  left: 0px;
  right: 0;
  top: 50px;
  font-size: 16px;
   font-family: 'Roboto Slab', serif;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.img_box{
  width: 300px;
  height: 176;
}

.img_box img{
  width: 100%;
  height: 100%;
}


.pound2{
  position: relative;
}

.pound2:after{
  content: "";
  position: absolute;
  width: 14px;
  height: 20px;
  top: 3px;
  background: url(../images/icon/pound_icon.png) 0% 0% no-repeat;
}

.box-shadow{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    position: relative;
    z-index: 5;
}

.pd{
  padding: 20px 25px ;
}

.prise_container{
  width: 986px;
  height: auto;
}

.prise_container_item{
  width: 324px;
  min-height: 750px;
  padding: 30px 40px 30px 50px;
  color: #FFF;
  position: relative;
}

  .prise_container_item .prise_container_bottom{
    position: absolute; 
    bottom: 0;  
  }

.tab_link{
  width: 100%;
  text-align: center;
  padding: 10px 45px;
  border: 1px solid #5e5e73;
  display: block;
  font-size: 18px;
  font-family: 'robotolight';
  color: #5e5e73; 
}

/*Tab*/

.anchor_tabs{
  width: 977px;
  margin:30px auto 0;
}

/*.anchor_tabs.r-tabs {
  position: relative;
  background-color: #00c5ad;
  border-top: 1px solid #00c5ad;
  border-right: 1px solid #00c5ad;
  border-left: 1px solid #00c5ad;
  border-bottom: 4px solid #00c5ad;
  border-radius: 4px;
}
*/

.anchor_tabs.r-tabs .r-tabs-panel{
  padding: 0;
}
.border_top{
  border-right: 1;
}
/* Tab element */
.anchor_tabs.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative;
  background-color: #fff;
}

/* Tab anchor */

.anchor_tabs.r-tabs .r-tabs-tab{
  font-size: 0;
  display: inline-block;
} 
.anchor_tabs.r-tabs .r-tabs-tab:last-child .r-tabs-anchor{
  padding: 26px 73px 26px 73px;
}
.anchor_tabs.r-tabs .r-tabs-nav .r-tabs-anchor {
  display: block;
  padding: 26px 72px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #232440;
  opacity: .54;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5;
}

/* Active state tab anchor */
.anchor_tabs.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  color: #232440;
  opacity: 1;
  text-shadow: none;
  background-color: white;
  position: relative;
  /*border-top-right-radius: 4px;
  border-top-left-radius: 4px;*/
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.anchor_tabs.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor::before{
  content: "";
  position: absolute;
  background: #FFF;
  height: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

/* Tab panel */
/*.anchor_tabs.r-tabs .r-tabs-panel {
  background-color: white;
  border-bottom: 4px solid white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}*/

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  /*padding: 10px;*/
  background-color: #00c5ad;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #fff;
  color: #00c5ad;
  text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5;
}

/* Buttons */
button {
  display:inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  line-height: 100%;

  color: #fff;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  font-weight: bold;
  
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #00c5ad;
  box-shadow: 0px 3px 0px 0px #00ab94;
  
  cursor: pointer;
}

/* Info bar */
.info {
  display:inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  color: #00c5ad;
  border: 2px solid #00ab94;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;

  cursor: pointer;
} 
/*=====================> Content heat start ========================*/

  .partners{
    padding: 38px 0 50px;
  }
    .partners_list{
      width: 1095px;
      margin: 0 auto 35px;
    }
      .partners_list_item{
        width: 165px;
        float: left;
        height: 75px;
        text-align: center;
        display: table;
        margin: 25px 27px;
        vertical-align: middle;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
      } 
        .partners_list_link{
          display: table-cell;
          vertical-align: middle;
        }   
/*=====================> Content heat end ========================*/
  
/*=====================> Content catalog sub start ========================*/


  .culc_form2 .jq-selectbox{
    width: 380px;
    
    margin-top: -7px;
    box-shadow: 1px 1px 8px #dedede, -1px -1px 8px #dedede;
  }
    .culc_form2 .jq-selectbox__select{
      height: 36px;
      border: none;
    }
    .culc_form2 .jq-selectbox .placeholder,
    .culc_form2 .jq-selectbox__select-text{
      line-height: 35px;
    }
    .culc_form2 .jq-selectbox__trigger-arrow,
    .culc_form2 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
      top: 14px;
      border-top: 10px solid #1e8feb;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
      .culc_form2 .jq-selectbox li{
        font-size: 14px;
        font-weight: 300;
        color: #8a8e98;
      }
      .culc_form2 .jq-selectbox li:hover{
        background-color: #1e8feb;
        color: #FFF;
      }





  .calculate_form{
    margin-top: 100px;
    margin-bottom: 60px;
    position: relative;
  }
    .calculate_form:after{
      content: "";
      position: absolute;
      width: 188px;
      height: 171px;
      right: 14px;
      top: -82px;
      background: url(../images/calculate_img.png) 0% 0% no-repeat;
    }
    .site_bar_padd{
      padding: 10px 21px 10px 0;
    }
  .form_row{
    margin-bottom: 20px;
  }
    .range_slider_wrapper{
      width: 400px;
      font-size: 14px;
      color: #a1a5ad;
      display: table;
      float: left;
      position: relative;
    }

      .counter_item{
        position: absolute;
        right: -99px;
        top: -8px;
      }
      .counter_item label{
        vertical-align: middle;
        font-weight: 300;
        margin-right: 3px;
        text-align: center;
      }
        .counter_item sup{
          font-size: 10px;
        }

        .range_slider_wrapper p{
          color: #8A8E98;
          font-size: 12px;
          margin-top: -7px;
          margin-bottom: 0;
        }
    
    .radio_site_bar{
      font-size: 12px;
      font-weight: 300;
      margin: 0 -8px;
    }
      .radio_site_bar_item{
        margin: 0 20px 8px 0;
        position: relative;
      }

      .culc_label{  
        width: 31.5%;
        color: #232440;
        font-size: 18px;
        font-weight: 300;
        text-align: right;
        float: left;
        margin-right: 25px;
        text-transform: uppercase;
        font-family: 'robotolight';
      }
        .culc_item_label{
          color: #8A8E98;
          font-size: 14px;
          font-weight: 300;
        }

        .calculate_form .jq-checkbox.checked + .culc_item_label{
          color: #FB6B00;
        }

    .reset_all{
      font-size: 14px;
      font-weight: 300;
      position: relative;
      color: #34c8e1;
      display: inline-block;
      padding-right: 15px;
    }  
      .reset_all:after{
        content: " ";
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url(../images/reset_close.png) 0 0 no-repeat;
      }

      .counter_item input::-webkit-input-placeholder{
        text-align: center;
      }
      .counter_item input::-moz-placeholder{
        text-align: center;
      }
      .counter_item input:-moz-placeholder{
        text-align: center;
      }
      .counter_item input:-ms-input-placeholder{
        text-align: center;
      }
  /*catalog content*/

  .pagination_box{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 10px;
  }

  .pagination_box .jq-selectbox{
    width: 90px;
    border: none;
  }

    .pagination_box .jq-selectbox__select{
      border: none;
      padding-right: 15px;
      height: auto;
      line-height: 1.2;
    }
    .pagination_box .jq-selectbox__trigger{
      width: 11px;
    }
      .pagination_box .jq-selectbox__trigger-arrow{
        border: none;
        background: url(../images/tigerr_arrow.png) 0 0 no-repeat;
        width: 11px;
        height: 7px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

  .pagination_list_item,
  .number_blocks_item{
    display: inline-block;
  }

  .pagination_list_item{
    margin: 0 2px;
  }

    .pagination_list_link{
      display: inline-block;
      width: 19px;
      line-height: 19px;
      color: #8a8e98;
      text-align: center;
    }

    .pagination_list_item.current .pagination_list_link{
      background: #4dcee5;
      color: #fff;
      border-radius: 10px;
    }
    .pagination_list_link:hover{
      color: #12bfdc;
    }

  .number_blocks_item{
    color: #a9acb3;
  }

    .number_blocks_link{
      color: #45cce4;
      position: relative;
      padding-right: 8px;
    }

      .number_blocks_link:after{
        content: "|";
        position: absolute;
        right: 0;
        font-weight: 600;
        color: #8a8e98;
      }
      .number_blocks_item:last-child .number_blocks_link:after{
        display: none;
      }

    .number_blocks_link.current{
      color: #8a8e98;
      font-weight: 700;
    }

/*=====================> Content catalog sub end ========================*/


/*=====================> Content evolution box start ========================*/

  .evolution_block{
    width: 87%;
    margin: auto;
  }
    .evolution_block .title2{
      color: #676775;
    }
    .evolut_box{
      float: left;
      width: 25.5%;
      margin: 5px -2.5px;
    }
      .evolut_box .img_box{
        margin-bottom: 30px;
      }
      .evolut_box figcaption{
        font-weight: 700;
        text-transform: uppercase;
      }

/*=====================> Content evolution box end ========================*/


/*=====================> Content 6 facts start ========================*/

  .our_services{
    margin: 0 -43px;
  }
    .our_services_item{
      width: 25%;
      font-weight: 300;
      font-size: 14px;
      margin: 0 43px 60px;
    }    
      .our_services_item_img{
        width: 80px;
        margin-bottom: 35px;
      }
        .our_services_item_img img{
          max-width: 77px;
          height: auto;
        }
      .our_services_item_text{
        line-height: 1.7;
        font-size: 14px;
      }

      .our_services_item_text .title3{
        font-weight: bold;
        text-transform: uppercase;
      }

      .header_content_phone + .header_content_btn,
      .popup_box1 .header_content_mail + .header_content_btn{
        width: 197px;
        line-height: 1.25;
        font-size: 18px;
        background-color: #FB6B00;
        border: 1px solid #FB6B00;
        -webkit-box-shadow: none;
                box-shadow: none;
      }

/*=====================> Content 6 facts end ========================*/


/*=====================> Content evolution box start ========================*/

  .planchette_block{
    width: 750px;
    margin: auto;
    height: 1025px;
    text-align: center;
    padding: 160px 100px 100px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 0 66px rgba(0, 0, 0, 0.33);
    background: url(../images/planchette_bg.jpg) 50% 50% no-repeat;
  }
    .planchette_block p{
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 40px;
    }

/*=====================> Content evolution box end ========================*/


/*=====================> Content flexslider start ========================*/
  .flexslider li{
    margin-bottom: 25px;
  }
    .slider_box{
      margin: -25px 0 0-25px;
    }
      .slider_figure{
        
      }
        .slide_img_box{
          width: 360px;
          float: left;
          margin: 25px 30px 0 25px;
        }
        .slider_figure .img_box{
          float: left;
          width: 360px;
          margin-bottom: 10px  ;
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.33);
        }
          .slider_figure .img_box img{
            width: 100%;
            height: 100%;
          }
          .slider_big_img_box{
            width: 360px;
            height: 210px;
          }
          .slider_min_img_box{
            width: 180px;
            height: 105px;
          }

        .slider_figure figcaption{
          float: left;
          padding-top: 17px;
          width: calc(100% - 415px);
        }
        
          .slider_content{
            font-family: 'robotolight';
          }

            .slider_content div{
              width: 47%;
            }
              .slider_content .title3{
                color: #2c3035;
                font-weight: 700;
                letter-spacing: 1px;
              }
              .slider_content p{
                font-size: 16px;
                color: #232440;
                font-weight: 300;
                line-height: 26px;
              }
      .slider_figure + span{
        padding-left: 25px;
      }
        .slider_box .thumb_carousel{
          padding-left: 25px;
        }

      .slider_box .flex-viewport{
        height: auto !important;
      }
      .owl-item.synced .slider_item_figure{
        opacity: 1;
        background: url(../images/slider_orange_bg.png) 35px 0% no-repeat;
      }
        .slider_box .thumb_carousel li{
          width: 300px !important;
        }
        .slider_box .owl-item.synced .slider_item_figure .img_box{
          border: 3px solid #fb6b00;
        }
          .slider_box .thumb_carousel h4{
            font-family: 'Roboto Slab', serif;
          }
      
        .slider_item_figure{
          padding: 17px 15px;
          opacity: 0.6;
          min-height: 115px;
          cursor: pointer;
        }
        .slider_item_figure:hover{
          opacity: 1;
        }
          .slider_item_figure .img_box{
            float: left;
            width: 60px;
            height: 60px;
            margin-right: 15px;
            border: 3px solid transparent;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
          }
            .slider_item_figure .img_box img{
              -webkit-border-radius: 50%;
                      border-radius: 50%;
                width: 100%;
                height: 100%;
            }
          .slider_item_figure figcaption{
            float: left;
            width: calc(100% - 84px);
          }
          .slider_item_figure h4{
            font-family: 'Roboto Slab', serif;
          }

    .pound{position: relative;}
    .pound:after{
      content: "";
      position: absolute;
      width: 14px;
      height: 20px;
      right: -20px;
      top: 3px;
      background: url(../images/icon/pound_icon.png) 0% 0% no-repeat;
    }
    .slider_content .pound{
      display: inline-block;
    }
  
/*=====================> Content flexslider end ========================*/


/*=====================> Content 5 steps start ========================*/

  .how_working{
      padding: 0 86px;
      margin: 0 -31px 90px;
    }
      .how_working .title3{
        font-size: 16px;
        line-height: 21px;
      }

      [class^="how_working_item"]{
        background: url(../images/how_working_bg.png) 0 0 no-repeat;
        padding: 0 15px 0 15px; 
        width: 281px;
        height: 120px;
        display: table;
        vertical-align: middle;
        margin: 0 31px;
        position: relative;
        margin-bottom: 44px;
      }    
      .how_working_item_none{
        background: none !important;
      }  
        .how_working_number{
          display: table-cell;
          vertical-align: middle;
          width: 35px;
        }
        .title1.how_working_number{
          color: #fff;
        }
        .how_working_text{
          display: table-cell;
          vertical-align: middle;
          letter-spacing: 1.3px;
        }

        .how_working_item1:before{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img.png) 0 0 no-repeat;
          width: 84px;
          height: 14px;
          bottom: 9px;
          left: -84px;
        }
        .how_working_item1:after,
        .how_working_item2:after,
        .how_working_item5:after{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img2.png) 0 0 no-repeat;
          width: 63px;
          height: 14px;
          bottom: 9px;
          right: -62px;
        }
        .how_working_item3:after{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img3.png) 0 0 no-repeat;
          width: 80px;
          height: 180px;
          top: calc(100% - 23px);
          right: -79px;
        }

        .how_working_item5:before{
          content: "";
          position: absolute;
          background: url(../images/how_working_item1_img4.png) 0 0 no-repeat;
          width: 15px;
          height: 14px;
          bottom: 9px;
          left: -15px;
        }

        [class^="how_working_item_2"]{
      background: url(../images/how_working_bg2.png) 0 0 no-repeat;
      position: relative;
    }
    [class^="how_working_item_2"] .title1.how_working_number,
    [class^="how_working_item_2"] .title3.how_working_text{
      color: #1e8feb;
    }

      .how_working_item_2_1:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img.png) 0 0 no-repeat;
        width: 97px;
        height: 54px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -97px;
      }
      .how_working_item_2_1:after,
      .how_working_item_2_2:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img2.png) 0 0 no-repeat;
        width: 71px;
        height: 54px;
        right: -67px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .how_working_item_2_3:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img3.png) 0 0 no-repeat;
        width: 98px;
        height: 216px;
        right: -94px;
        top: 50%;
        -webkit-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
        transform: translateY(-12%);
      }
      .how_working_item_2_5:after{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img4.png) 0 0 no-repeat;
        width: 71px;
        height: 54px;
        right: -67px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .how_working_item_2_5:before{
        content: "";
        position: absolute;
        background: url(../images/how_working_item2_img5.png) 0 0 no-repeat;
        width: 443px;
        height: 54px;
        left: -443px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

        .white_btn{
          width: 185px;
          padding: 9px;
          color: #fb6b00;
          display: block;
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          text-decoration: none;
          border: 1px solid #fff;
          background-color: #FFF;
          text-transform: capitalize;
          font-family: 'robotolight';
        }
        .white_btn:hover{
          color: #fff;
          background-color: #fb6b00;
        }

/*=====================> Content 5 steps end ========================*/


/*=====================> Content evolution box start ========================*/

  .sale_block{}
    .sale_block div{
      width: 650px;
      float: left;
    }
      .simple_figure{
        float: left;
        margin-bottom: 40px;
      }
        .simple_figure .img_box{
          width: 228px;
          text-align: center;
          display: inline-block;
        }
          .simple_figure .img_box img{
            vertical-align: middle;
          }
        .simple_figure figcaption{
          float: left;
          width: calc(100% - 260px);
        }
          .simple_figure figcaption .title2{
            color: #6E6F81;
          }
          .simple_figure figcaption p{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
          }
    .sale_block .header_heat_form{
      
    }

/*=====================> Content evolution box end ========================*/


/*=====================> Range slider ========================*/

  .range_slider_wrapper .slider-range{
    background-color: #d6dae4;
    height: 3px;
    margin-bottom: 10px;
  }
    .range_slider_wrapper .ui-slider-horizontal .ui.slider-range{
      background-color: #d6dae4;    
    }
    .range_slider_wrapper .slider-range .ui-slider-handle{
      background: #fb6b00;
      border-radius: 50%;
      top: -7px;
      width: 15px;
      height: 15px;
    } 
    /*.range_slider_wrapper .slider-range .ui-slider-handle:before{
      content: "";
      left: 0;
      right: 0;
      height: 3px;
      position: absolute;
      background-color: #d6dae4;
    }*/
    .range_slider_wrapper #amount1,
    .range_slider_wrapper #amount2,
    .range_slider_wrapper #amount3{
      color: #fb6b00;
      font-size: 14px;
      border: 0;
      width: 73px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      /*border: 1px solid #dfdfdf;*/
      box-shadow: 1px 1px 8px #dedede, -1px -1px 8px #dedede;
    }
    .range_slider_wrapper #amount2{
    }  


/*=====================> Content accordion start ========================*/

  .accordion_block{}
    .accordion_block figure{
      float: left;
      width: 360px;
      margin-right: 30px;
    }
      .accordion_block figure figcaption{
        padding-left: 70px;
        padding-right: 30px;
      }
    .accordion_block .accordion{
      width: 653px;
      float: left;
    }
      .accordion_item{
        width: 100%;
        padding: 15px 80px 15px 32px;
        margin-bottom: 10px;
        border: 1px dashed #feceab;
        -webkit-border-radius: 10px;
                border-radius: 10px;
      }
        .accordion_item_link{
          font-size: 18px;
          color: #2c3035;
          font-weight: 300;
          position: relative;
          cursor: pointer;
        }
        .accordion_item_link.active{
          margin-bottom: 15px;
        }
          .accordion_item_link:after{
            content: "+";
            position: absolute;
            color: #FFF;
            line-height: 1;
            line-height: 1;
            font-size: 24px;
            text-align: center;
            right: -65px;
            /*top: 15px;*/
            width: 25px;
            height: 25px;
            background-color: #fb6b00;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
          }
          .accordion_item_link.active:after{
            content: "-";
            font-weight: 700;
          }
        .sub-menu{
          display: none;
          font-size: 14px;
          line-height: 1.6;
          margin-bottom: 15px;
        }

/*=====================> Content accordion end ========================*/


/*==============> POPUP <=============*/
.arcticmodal-container{
  background-color: #fff;
}
.arcticmodal_container_box{
  max-width: 1000px !important;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 10px; 
  z-index: 99999;
  position: relative;
}
.popup_box1{
  width: 607px;
}
.popup_box2{
  width: 870px;
}
.popup_box3{
  width: 890px;
}
 .popup_arrow{
   position: absolute;
   top: 48px;
 }
  .popup_title{
    font-size: 14px;
    color: #2c3035;
    font-weight: 300;
  }
  .title_popup2{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
    text-transform: uppercase;
  }
  .arcticmodal_container_box .download_link:first-child{
    margin-right: 115px;
  }
  .arcticmodal_container_box .title2 + .popup_title{
    line-height: 1.7;
  }


.arcticmodal_container_box.popup_pad{
  padding: 3px 50px;
}

.form_popup{
  width: 294px;
}  
  .form_popup_name,
  .form_popup_email,
  .form_popup_textarea{
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 38px;
    padding-left: 42px;
    border: none;
    box-shadow: 2px 2px 3px #dfdfdf, -2px -2px 3px #dfdfdf;
  }
  .form_popup_name{
    background: #fff url(../images/human_icon.png) 12px 50% no-repeat;
  }
  .form_popup_email{
    background: #fff url(../images/email_icon.png) 12px 50% no-repeat;
  }
  .form_popup_textarea{
    height: 200px;
    padding: 10px 0 0 42px;
    resize: none;
  }
  .form_popup_textarea{
    background: #fff url(../images/commnt_icon.png) 12px 12px no-repeat;
  }
  .form_popup_btn,
  .form_popup_btn2{
    font-family: 'robotolight';
    width: 100%;
    height: 44px;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    /*line-height: 34px;*/
    border-radius: 0;
    font-weight: normal;
    display: inline-block;
    padding: 10px 5px;
    margin: 6px 0 7px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    box-shadow: 0 0 33px rgba(0, 0, 0, 0.33);
  }
  .form_popup_btn{
    background: #fb6b00;
    border: 1px solid #fb6b00;
  }
  .form_popup_btn2{
    background: #1e8feb;
    border: 1px solid #1e8feb;
  }
    .form_popup_btn:hover,
    .form_popup_btn2:hover{
      background: #fff;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    .form_popup_btn:hover{
      color: #fb6b00;
    }
    .blue_style .form_popup_btn:hover{
      color: #1e8feb;
    }

    .blue_style .work_link:hover{
      color: #FFF;
      background-color: #1e8fea;
    }


    .popup_figure{}
      .popup_figure .img_box{
        width: 361px;
        margin-right: 30px;
      }
      .popup_figure figcaption{
        width: calc(100% - 400px);
      }
        .popup_figure figcaption form{
          width: 262px;
          margin: 60px auto 45px;
        }

    .popup_figure2{}
      .popup_figure2 .img_box{
        margin-right: 30px;
      }
      .popup_figure2 figcaption{
        width: calc(100% - 310px);
      }

      .arcticmodal_container_box .header_content_form .form_popup_btn2,
      .arcticmodal_container_box .header_content_form .form_popup_btn{
        width: 197px;
        margin: 0;
      }


    /*---------  PRODUCT BLOCK  ---------*/
      .characteristic_list{
        font-size: 14px;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
        font-family: 'Roboto', Helvetica, sans-serif;
      }
        .characteristic_item{
          display: inline-block;
          width: 100%;
          margin-bottom: 17px;
          position: relative;
        }
        .characteristic_item:after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 3px;
          z-index: 1;
          width: 100%;
          display: inline-block;
          border-bottom: 1px dotted #64676b; /*2c3035*/
        }
          .characteristic_item span:first-child,
          .characteristic_item_value{
            display: inline-block;
            background-color: #FFF;
            color: #2c3035;
            position: relative;
            z-index: 2;
          }
          .characteristic_item span:first-child{
            font-weight: 500;
            float: left;
          }
          .characteristic_item_value{
            float: right;
            font-weight: 300;
          }
  
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb60{ margin-bottom:60px;}
.mb62{ margin-bottom:62px;}
.mb65{ margin-bottom:65px;}
.mb70{ margin-bottom: 70px;}
.mb75{ margin-bottom: 75px;}
.mb90{ margin-bottom: 90px;}
.mb80{ margin-bottom: 80px;}
.mb100{ margin-bottom: 100px;}
.mb110{ margin-bottom: 110px;}
.mb125{ margin-bottom: 125px;}
.mb138{ margin-bottom: 138px;}
.mb145{ margin-bottom: 145px;}
.mb150{ margin-bottom: 150px;}
.mb166{ margin-bottom: 166px;}
.mb180{ margin-bottom: 180px;}

.mr65{margin-right: 65px;}

.mr30{
  margin-right: 30px;
}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
[class^="title"]{
  font-family: 'Roboto Slab', serif;
}
.title{
  font-size: 46px;
  line-height: 58px;
  color: #fff;
}
.title1{
  font-size: 36px;
  line-height: 48px;
  color: #232440;
  font-weight: 400;
}

.title2{
  font-size: 24px;
  line-height: 34px;
  color: #19192d;
}
.title3{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}
.title4{
  font-size: 14px;
  line-height: 1.2;
  color: #a9acb3;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.title5{
  font-size: 12px;
  font-family: 'robotolight';
  color: #5e5e73;
}
.title6{
  font-size: 14px;
  font-family: 'robotobold';
  color: #232440;
}

.title7{
  font-size: 16px;
  font-family: 'robotobold';
  color: #000;
  font-family: 'Roboto Slab', serif;
}

.prise_container_item dt{
   font-size: 12px;
  font-family: 'robotolight';
  color: #5e5e73;
  padding-bottom: 5px;
}
.prise_container_item dd{
  font-size: 14px;
  font-family: 'robotobold';
  color: #232440;
  padding-bottom: 20px;
}


  .fz12{font-size: 12px;}
  .fz13{font-size: 13px;}
  .fz14{font-size: 14px;}
  .fz18{font-size: 18px;}
  .fz36{font-size: 36px; line-height: 1.2;}
  .fz46{font-size: 46px; line-height: 1.2;}

  .lh1{line-height: 1 !important;}

  [data-color="orange"]{
    color: #FB6B00;
  }
  [data-color="blue"]{
    color: #0095ff;
  }
  [data-color="grey"]{
    color: #363638;
  }
  [data-color="grey_light"]{
    color: #626270;
  }
  [data-color="grey_light2"]{
    color: #73777a;
  }
  [data-color="grey2"]{
    color: #8A8E98;
  }
  [data-color="grey_light3"]{
    color: #B3B3BA;
  }


  .prise_container_item[data-color="grey_light4"] .title2,
  .prise_container_item[data-color="grey_light4"] .tab_link{
    color: #888898;
    border-color: #888898;
  }
  .prise_container_item[data-color="grey_light5"] .title2,
  .prise_container_item[data-color="grey_light5"] .tab_link{
    color: #232440;
    border-color: #232440;
  }

.prise_container_item[data-color="orange"] .title2,
.prise_container_item[data-color="orange"] .tab_link{
  color: #FB6B00;
  border-color: #FB6B00;
  
}

.prise_container_item[data-color="grey_light5"] .tab_link:hover,
.prise_container_item[data-color="orange"] .tab_link:hover,
.prise_container_item[data-color="grey_light4"] .tab_link:hover{
  background-color: #FB6B00;
  color: #FFF;
  border-color: #FB6B00 !important;
}


.prise_container_item[data-color="orange"]{
  background: url(../images/bg_orange.png) 0 50% no-repeat;
}

.prise_container_item[data-color="grey_light5"]{
  background: url(../images/bg_light_03.jpg) 0 50% no-repeat;
}
/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.msg_field{
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {

}

.footer_contact{
  width: 372px;
  padding-bottom: 20px;
}
  .footer_contact_info{
    background: url(../images/footer_item_bg.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    padding: 25px 25px 0 37px;
    min-height: 178px;
  }
    .footer_contact_info_text,
    .footer_contact_info_link{
      font-size: 14px;
      line-height: 25px;
      color: #ccf1f8;
    }
      .footer_contact_info_link:hover{
        color: #fff;
        text-decoration: underline;
      }
      .title_footer{
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
      }

  .footer_copyright{
    font-size: 12px;
    color: #71717e;
    line-height: 18px;
    margin-left: 15px;
  }    
    .footer_copyright img{
      margin-right: 10px;
    }

  .footer_maps{
    position: relative;
    width: 600px;
    height: 306px;
    margin-left: 30px;
  }  

    .footer_maps_item{
      position: absolute;
      width: 186%;
      height: 306px;
      /*border: 30px solid transparent;
      border-image: url("../images/map_border.png");
      border-image-repeat: round;*/
    }

      .footer_maps_item:before{
        content: "";
        z-index: 99;
        position: absolute;
        background: url(../images/map_border_before.png) 0 0 no-repeat;
        top: 0;
        left: 0;
        width: 33px;
        height: 100%;
      }

      .footer_maps_item:after{
        content: "";
        z-index: 99;
        position: absolute;
        background: url(../images/map_border_after.png) 0 0 no-repeat;
        width: 100%;
        top: 0;
        height: 30px;
      }

/*.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}*/

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 9999; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}




input::-webkit-input-placeholder{
  transition: all 0.5s ease;
 font-family: 'robotolight';
 font-size: 14px;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
input::-moz-placeholder{
  transition: all 0.5s ease;
 font-family: 'robotolight';
 font-size: 14px;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
input:-moz-placeholder{
  transition: all 0.5s ease;
 font-family: 'robotolight';
 font-size: 14px;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
input:-ms-input-placeholder{
  transition: all 0.5s ease;
 font-family: 'robotolight';
 font-size: 14px;
  font-weight: 300;
  color: #9a9da6;
  opacity: 1;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 0.5s ease;
}
input:focus::-moz-placeholder{
  opacity: 0;
  transition: all 0.5s ease;
}
input:focus:-moz-placeholder{
  opacity: 0;
  transition: all 0.5s ease;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  transition: all 0.5s ease;
}
/*===  input end    ===*/

/*===  textarea start  ===*/
textarea::-webkit-input-placeholder{
 font-family: 'robotolight';   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}
textarea::-moz-placeholder{
 font-family: 'robotolight';   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}
textarea:-moz-placeholder{
 font-family: 'robotolight';   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}
textarea:-ms-input-placeholder{
 font-family: 'robotolight';   
  transition: all 0.5s ease;
  color: #a9acb3;
  opacity: 1;
  font-size: 14px;
}

textarea:focus::-webkit-input-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus::-moz-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus:-moz-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
textarea:focus:-ms-input-placeholder{
  transition: all 0.5s ease;
  opacity: 0;
}
/*===  textarea end    ===*/

@media only screen and (max-width: 1366px) {
  .footer_maps_item{
    width: 140.3%;
  }

}

@media only screen and (max-width: 1170px) {
  .footer_maps_item{
    width: 127%;
  }

}


.helper{
  width: 200px;
  text-align: left;
  font-size: 16px;
  color: #fb6b00;
  position: relative;
}

  .helper::before{
    content: "";
    background: url(../images/new_calc_03.jpg) 0 0 no-repeat;
    width: 64px;
    height: 206px;
    position: absolute;
    top: 100%;
  }

  .img_link{
    position: relative;
    box-shadow: 1px 1px 15px #000;
  }

  .hint{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 40px; 
    background: rgba(0, 0, 0, .54);
    padding: 10px;
    color: #fff;
  }

/*==============>  THANKS PAGE  <============*/
  .thanks_block{
    width: 400px;
    height: 165px;
    margin: 130px auto 180px;
  }
    .thanks_box{
      font-weight: 700;
      padding: 40px;
      color: #FB6B00;
      font-size: 55px;
      text-align: center;
      border: 3px solid #fb6b00;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      font-family: 'Roboto Slab', serif;
    }
    .thanks_block .text_link{
      padding-left: 0 !important;
    }